@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@300&family=Roboto&display=swap');


* {
    padding: 0;
    margin: 0;
}

.navbar {

    width: 100%;
    height: 8vh;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    gap: 40px;


}


.navbar svg {

    height: 20px;
    cursor: pointer;
}

.cartlogo {

    cursor: pointer;
}

.navbar li {

    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    font-weight: 500;
    color: rgb(168, 168, 168);
    list-style: none;
    cursor: pointer;
    display: flex;

}

#menuicon {
    display: none;
}

.ul {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.banner {
    width: 100%;
    position: relative;
    background-color: #252525;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner .bannertext {
    font-size: small;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.text2 {
    cursor: pointer;
    font-size: small;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    color: rgb(84, 144, 255);
}


/* box1 */
.hero1 {
    height: 100vmin;
    width: 100%;
    background-image: url("https://www.apple.com/v/home/bi/images/heroes/iphone-15-pro/hero_iphone15pro__i70z9oz3hj2i_mediumtall_2x.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.hero1content h1 {
    font-size: 10vmin;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

.hero1content .text {
    font-size: 4vmin;
    font-family: 'Roboto', sans-serif;
    ;
    color: rgb(255, 255, 255);

}

.blue {
    font-family: 'Roboto', sans-serif;
    color: rgb(62, 146, 255);
    cursor: pointer;
}




.hero1content {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 40px;
    padding-top: 35px;

}

.hero1content .lm {
    display: flex;
    gap: 30px;
    font-size: 4vmin;
}

/* box2 */
.hero2 {
    height: 120vmin;
    width: 100%;
    background-image: url("https://www.apple.com/v/iphone-15/c/images/meta/iphone-15_overview__gm0jynt55aai_og.png?202401142339");
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: scroll;
    background-size: cover;
    margin-top: 100px;
}

.hero2content {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 40px;

}


.hero2content h1 {
    font-size: 10vmin;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}

.hero2content .text {
    font-size: 4vmin;
    font-family: 'Roboto', sans-serif;
    ;
    color: rgb(0, 0, 0);

}

.hero2content .lm {
    display: flex;
    gap: 30px;
    font-size: 4vmin;
}

/* Box3 */
.watchbg {
    width: 100%;
    margin-top: 15px;
    height: 180vmin;
    background-image: url("https://www.apple.com/v/home/bi/images/heroes/apple-watch-unity/hero_apple_watch_unity__fcd4ixxe9ouq_small_2x.jpg");
    background-position: center;


}

.watchcontainer {
    padding-top: 60px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.watch1text {
    font-size: 5vmin;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

.c {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.line1 {
    padding-top: 5px;
    font-size: 5vmin;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

.line2 {
    padding: 5px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: rgb(62, 146, 255);
    font-size: 4vmin;
    cursor: pointer;
}


@media only screen and (max-width: 1177px) {

    #mediaQ {
        display: none;

    }


    #menuicon {
        display: inline-flex;

    }

    .applelogo {
        padding-right: 16vmax;
        height: 30px;
    }

}

@media only screen and (max-width: 700px) {
    .hero1 {
        background-image: url("https://www.apple.com/v/home/bi/images/heroes/iphone-15-pro/hero_iphone15pro__i70z9oz3hj2i_small_2x.jpg");
        background-position-x: center;
    }


}